h3(class="sofia text_left") Dedicatoria para el amante de mi alma.
blockquote
  p El día que estaba mas locamente enamorado de ti y sentía el amor refulgante que despertaba en mi un sin fin de esperanzas y alegrías...
